---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/xanderstrike/test/pulls/30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '31'
      X-Ratelimit-Reset:
      - '1445639277'
      Last-Modified:
      - Fri, 23 Oct 2015 21:30:13 GMT
      Etag:
      - W/"6285a2c92a194c07b2eb3aac94d453ed"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/XanderStrike/test/pulls/30","id":48632421,"html_url":"https://github.com/XanderStrike/test/pull/30","diff_url":"https://github.com/XanderStrike/test/pull/30.diff","patch_url":"https://github.com/XanderStrike/test/pull/30.patch","issue_url":"https://api.github.com/repos/XanderStrike/test/issues/30","number":30,"state":"open","locked":false,"title":"Create
        gdsfghdfghd","user":{"login":"XanderStrike","id":1565303,"avatar_url":"https://avatars.githubusercontent.com/u/1565303?v=3","gravatar_id":"","url":"https://api.github.com/users/XanderStrike","html_url":"https://github.com/XanderStrike","followers_url":"https://api.github.com/users/XanderStrike/followers","following_url":"https://api.github.com/users/XanderStrike/following{/other_user}","gists_url":"https://api.github.com/users/XanderStrike/gists{/gist_id}","starred_url":"https://api.github.com/users/XanderStrike/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/XanderStrike/subscriptions","organizations_url":"https://api.github.com/users/XanderStrike/orgs","repos_url":"https://api.github.com/users/XanderStrike/repos","events_url":"https://api.github.com/users/XanderStrike/events{/privacy}","received_events_url":"https://api.github.com/users/XanderStrike/received_events","type":"User","site_admin":false},"body":"","created_at":"2015-10-23T21:30:10Z","updated_at":"2015-10-23T21:30:13Z","closed_at":null,"merged_at":null,"merge_commit_sha":"0fc30b4bb845bd7a7f39f65d94cb48e0fb5e9b39","assignee":null,"milestone":null,"commits_url":"https://api.github.com/repos/XanderStrike/test/pulls/30/commits","review_comments_url":"https://api.github.com/repos/XanderStrike/test/pulls/30/comments","review_comment_url":"https://api.github.com/repos/XanderStrike/test/pulls/comments{/number}","comments_url":"https://api.github.com/repos/XanderStrike/test/issues/30/comments","statuses_url":"https://api.github.com/repos/XanderStrike/test/statuses/0a5d5d46eb053d5760f0e5a849bf267dbf4fc873","head":{"label":"XanderStrike:XanderStrike-patch-14","ref":"XanderStrike-patch-14","sha":"0a5d5d46eb053d5760f0e5a849bf267dbf4fc873","user":{"login":"XanderStrike","id":1565303,"avatar_url":"https://avatars.githubusercontent.com/u/1565303?v=3","gravatar_id":"","url":"https://api.github.com/users/XanderStrike","html_url":"https://github.com/XanderStrike","followers_url":"https://api.github.com/users/XanderStrike/followers","following_url":"https://api.github.com/users/XanderStrike/following{/other_user}","gists_url":"https://api.github.com/users/XanderStrike/gists{/gist_id}","starred_url":"https://api.github.com/users/XanderStrike/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/XanderStrike/subscriptions","organizations_url":"https://api.github.com/users/XanderStrike/orgs","repos_url":"https://api.github.com/users/XanderStrike/repos","events_url":"https://api.github.com/users/XanderStrike/events{/privacy}","received_events_url":"https://api.github.com/users/XanderStrike/received_events","type":"User","site_admin":false},"repo":{"id":43969878,"name":"test","full_name":"XanderStrike/test","owner":{"login":"XanderStrike","id":1565303,"avatar_url":"https://avatars.githubusercontent.com/u/1565303?v=3","gravatar_id":"","url":"https://api.github.com/users/XanderStrike","html_url":"https://github.com/XanderStrike","followers_url":"https://api.github.com/users/XanderStrike/followers","following_url":"https://api.github.com/users/XanderStrike/following{/other_user}","gists_url":"https://api.github.com/users/XanderStrike/gists{/gist_id}","starred_url":"https://api.github.com/users/XanderStrike/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/XanderStrike/subscriptions","organizations_url":"https://api.github.com/users/XanderStrike/orgs","repos_url":"https://api.github.com/users/XanderStrike/repos","events_url":"https://api.github.com/users/XanderStrike/events{/privacy}","received_events_url":"https://api.github.com/users/XanderStrike/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/XanderStrike/test","description":"please
        ignore","fork":false,"url":"https://api.github.com/repos/XanderStrike/test","forks_url":"https://api.github.com/repos/XanderStrike/test/forks","keys_url":"https://api.github.com/repos/XanderStrike/test/keys{/key_id}","collaborators_url":"https://api.github.com/repos/XanderStrike/test/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/XanderStrike/test/teams","hooks_url":"https://api.github.com/repos/XanderStrike/test/hooks","issue_events_url":"https://api.github.com/repos/XanderStrike/test/issues/events{/number}","events_url":"https://api.github.com/repos/XanderStrike/test/events","assignees_url":"https://api.github.com/repos/XanderStrike/test/assignees{/user}","branches_url":"https://api.github.com/repos/XanderStrike/test/branches{/branch}","tags_url":"https://api.github.com/repos/XanderStrike/test/tags","blobs_url":"https://api.github.com/repos/XanderStrike/test/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/XanderStrike/test/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/XanderStrike/test/git/refs{/sha}","trees_url":"https://api.github.com/repos/XanderStrike/test/git/trees{/sha}","statuses_url":"https://api.github.com/repos/XanderStrike/test/statuses/{sha}","languages_url":"https://api.github.com/repos/XanderStrike/test/languages","stargazers_url":"https://api.github.com/repos/XanderStrike/test/stargazers","contributors_url":"https://api.github.com/repos/XanderStrike/test/contributors","subscribers_url":"https://api.github.com/repos/XanderStrike/test/subscribers","subscription_url":"https://api.github.com/repos/XanderStrike/test/subscription","commits_url":"https://api.github.com/repos/XanderStrike/test/commits{/sha}","git_commits_url":"https://api.github.com/repos/XanderStrike/test/git/commits{/sha}","comments_url":"https://api.github.com/repos/XanderStrike/test/comments{/number}","issue_comment_url":"https://api.github.com/repos/XanderStrike/test/issues/comments{/number}","contents_url":"https://api.github.com/repos/XanderStrike/test/contents/{+path}","compare_url":"https://api.github.com/repos/XanderStrike/test/compare/{base}...{head}","merges_url":"https://api.github.com/repos/XanderStrike/test/merges","archive_url":"https://api.github.com/repos/XanderStrike/test/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/XanderStrike/test/downloads","issues_url":"https://api.github.com/repos/XanderStrike/test/issues{/number}","pulls_url":"https://api.github.com/repos/XanderStrike/test/pulls{/number}","milestones_url":"https://api.github.com/repos/XanderStrike/test/milestones{/number}","notifications_url":"https://api.github.com/repos/XanderStrike/test/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/XanderStrike/test/labels{/name}","releases_url":"https://api.github.com/repos/XanderStrike/test/releases{/id}","created_at":"2015-10-09T17:21:12Z","updated_at":"2015-10-09T17:21:12Z","pushed_at":"2015-10-23T21:30:11Z","git_url":"git://github.com/XanderStrike/test.git","ssh_url":"git@github.com:XanderStrike/test.git","clone_url":"https://github.com/XanderStrike/test.git","svn_url":"https://github.com/XanderStrike/test","homepage":null,"size":224,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":2,"forks":0,"open_issues":2,"watchers":0,"default_branch":"master"}},"base":{"label":"XanderStrike:master","ref":"master","sha":"e2d402d2334c247d53e72fcca0ac9140c814d002","user":{"login":"XanderStrike","id":1565303,"avatar_url":"https://avatars.githubusercontent.com/u/1565303?v=3","gravatar_id":"","url":"https://api.github.com/users/XanderStrike","html_url":"https://github.com/XanderStrike","followers_url":"https://api.github.com/users/XanderStrike/followers","following_url":"https://api.github.com/users/XanderStrike/following{/other_user}","gists_url":"https://api.gith[...]
- request:
    method: get
    uri: https://api.github.com/repos/xanderstrike/test/pulls/30/files
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '30'
      X-Ratelimit-Reset:
      - '1445639277'
      Last-Modified:
      - Fri, 23 Oct 2015 21:30:13 GMT
      Etag:
      - W/"99551a0db0440950fb7da77afd8218be"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"f39d6840615f9fe4657e738cbd89b8c16d5de0d2","filename":"gdsfghdfghd","status":"added","additions":1,"deletions":0,"changes":1,"blob_url":"https://github.com/XanderStrike/test/blob/0a5d5d46eb053d5760f0e5a849bf267dbf4fc873/gdsfghdfghd","raw_url":"https://github.com/XanderStrike/test/raw/0a5d5d46eb053d5760f0e5a849bf267dbf4fc873/gdsfghdfghd","contents_url":"https://api.github.com/repos/XanderStrike/test/contents/gdsfghdfghd?ref=0a5d5d46eb053d5760f0e5a849bf267dbf4fc873","patch":"@@
        -0,0 +1 @@\n+fghdfghdfgh"}]'
  recorded_at: Fri, 23 Oct 2015 21:34:46 GMT
- request:
    method: get
    uri: https://api.github.com/repos/xanderstrike/test/contents/stewards.yml?ref=0a5d5d46eb053d5760f0e5a849bf267dbf4fc873
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1445639277'
      Last-Modified:
      - Fri, 23 Oct 2015 21:30:08 GMT
      Etag:
      - W/"97dcfbbc79daca62b38391f48dba2e25"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"stewards.yml","path":"stewards.yml","sha":"a1851efdcad36f1c20b66d9ef8c7ed76e628b8c1","size":111,"url":"https://api.github.com/repos/XanderStrike/test/contents/stewards.yml?ref=0a5d5d46eb053d5760f0e5a849bf267dbf4fc873","html_url":"https://github.com/XanderStrike/test/blob/0a5d5d46eb053d5760f0e5a849bf267dbf4fc873/stewards.yml","git_url":"https://api.github.com/repos/XanderStrike/test/git/blobs/a1851efdcad36f1c20b66d9ef8c7ed76e628b8c1","download_url":"https://raw.githubusercontent.com/XanderStrike/test/0a5d5d46eb053d5760f0e5a849bf267dbf4fc873/stewards.yml","type":"file","content":"c3Rld2FyZHM6CiAgLSB4YW5kZXJzdHJpa2UKICAtIGZhZHNmYWRzZmFkc2Zh\nZHNmCiAgLSBhbGV4YW5kZXIuc3RhbmRrZUBhcHBmb2xpby5jb20KICAtIHhh\nbmRlcnN0cmlrZUBnbWFpbC5jb20K\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/XanderStrike/test/contents/stewards.yml?ref=0a5d5d46eb053d5760f0e5a849bf267dbf4fc873","git":"https://api.github.com/repos/XanderStrike/test/git/blobs/a1851efdcad36f1c20b66d9ef8c7ed76e628b8c1","html":"https://github.com/XanderStrike/test/blob/0a5d5d46eb053d5760f0e5a849bf267dbf4fc873/stewards.yml"}}'
  recorded_at: Fri, 23 Oct 2015 21:34:46 GMT
recorded_with: VCR 2.9.3
