---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/xanderstrike/test/pulls/30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '34'
      X-Ratelimit-Reset:
      - '1445639277'
      Last-Modified:
      - Fri, 23 Oct 2015 20:31:02 GMT
      Etag:
      - W/"97ceebe0d029295517a4f33a3508824b"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/XanderStrike/test/pulls/1","id":47297806,"html_url":"https://github.com/XanderStrike/test/pull/1","diff_url":"https://github.com/XanderStrike/test/pull/1.diff","patch_url":"https://github.com/XanderStrike/test/pull/1.patch","issue_url":"https://api.github.com/repos/XanderStrike/test/issues/1","number":1,"state":"closed","locked":false,"title":"asdfadsdf","user":{"login":"XanderStrike","id":1565303,"avatar_url":"https://avatars.githubusercontent.com/u/1565303?v=3","gravatar_id":"","url":"https://api.github.com/users/XanderStrike","html_url":"https://github.com/XanderStrike","followers_url":"https://api.github.com/users/XanderStrike/followers","following_url":"https://api.github.com/users/XanderStrike/following{/other_user}","gists_url":"https://api.github.com/users/XanderStrike/gists{/gist_id}","starred_url":"https://api.github.com/users/XanderStrike/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/XanderStrike/subscriptions","organizations_url":"https://api.github.com/users/XanderStrike/orgs","repos_url":"https://api.github.com/users/XanderStrike/repos","events_url":"https://api.github.com/users/XanderStrike/events{/privacy}","received_events_url":"https://api.github.com/users/XanderStrike/received_events","type":"User","site_admin":false},"body":"","created_at":"2015-10-09T17:24:54Z","updated_at":"2015-10-09T18:52:19Z","closed_at":"2015-10-09T18:51:09Z","merged_at":null,"merge_commit_sha":"5aad0d650818d24e285cb343b48a24020e7f4905","assignee":null,"milestone":null,"commits_url":"https://api.github.com/repos/XanderStrike/test/pulls/1/commits","review_comments_url":"https://api.github.com/repos/XanderStrike/test/pulls/1/comments","review_comment_url":"https://api.github.com/repos/XanderStrike/test/pulls/comments{/number}","comments_url":"https://api.github.com/repos/XanderStrike/test/issues/1/comments","statuses_url":"https://api.github.com/repos/XanderStrike/test/statuses/e69723d2da9b6a56aaed93a1d4cf1e633ad7de1e","head":{"label":"XanderStrike:pull12","ref":"pull12","sha":"e69723d2da9b6a56aaed93a1d4cf1e633ad7de1e","user":{"login":"XanderStrike","id":1565303,"avatar_url":"https://avatars.githubusercontent.com/u/1565303?v=3","gravatar_id":"","url":"https://api.github.com/users/XanderStrike","html_url":"https://github.com/XanderStrike","followers_url":"https://api.github.com/users/XanderStrike/followers","following_url":"https://api.github.com/users/XanderStrike/following{/other_user}","gists_url":"https://api.github.com/users/XanderStrike/gists{/gist_id}","starred_url":"https://api.github.com/users/XanderStrike/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/XanderStrike/subscriptions","organizations_url":"https://api.github.com/users/XanderStrike/orgs","repos_url":"https://api.github.com/users/XanderStrike/repos","events_url":"https://api.github.com/users/XanderStrike/events{/privacy}","received_events_url":"https://api.github.com/users/XanderStrike/received_events","type":"User","site_admin":false},"repo":{"id":43969878,"name":"test","full_name":"XanderStrike/test","owner":{"login":"XanderStrike","id":1565303,"avatar_url":"https://avatars.githubusercontent.com/u/1565303?v=3","gravatar_id":"","url":"https://api.github.com/users/XanderStrike","html_url":"https://github.com/XanderStrike","followers_url":"https://api.github.com/users/XanderStrike/followers","following_url":"https://api.github.com/users/XanderStrike/following{/other_user}","gists_url":"https://api.github.com/users/XanderStrike/gists{/gist_id}","starred_url":"https://api.github.com/users/XanderStrike/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/XanderStrike/subscriptions","organizations_url":"https://api.github.com/users/XanderStrike/orgs","repos_url":"https://api.github.com/users/XanderStrike/repos","events_url":"https://api.github.com/users/XanderStrike/events{/privacy}","received_events_url":"https://api.github.com/users/XanderStrike/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/XanderStrike/test","description":"please
        ignore","fork":false,"url":"https://api.github.com/repos/XanderStrike/test","forks_url":"https://api.github.com/repos/XanderStrike/test/forks","keys_url":"https://api.github.com/repos/XanderStrike/test/keys{/key_id}","collaborators_url":"https://api.github.com/repos/XanderStrike/test/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/XanderStrike/test/teams","hooks_url":"https://api.github.com/repos/XanderStrike/test/hooks","issue_events_url":"https://api.github.com/repos/XanderStrike/test/issues/events{/number}","events_url":"https://api.github.com/repos/XanderStrike/test/events","assignees_url":"https://api.github.com/repos/XanderStrike/test/assignees{/user}","branches_url":"https://api.github.com/repos/XanderStrike/test/branches{/branch}","tags_url":"https://api.github.com/repos/XanderStrike/test/tags","blobs_url":"https://api.github.com/repos/XanderStrike/test/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/XanderStrike/test/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/XanderStrike/test/git/refs{/sha}","trees_url":"https://api.github.com/repos/XanderStrike/test/git/trees{/sha}","statuses_url":"https://api.github.com/repos/XanderStrike/test/statuses/{sha}","languages_url":"https://api.github.com/repos/XanderStrike/test/languages","stargazers_url":"https://api.github.com/repos/XanderStrike/test/stargazers","contributors_url":"https://api.github.com/repos/XanderStrike/test/contributors","subscribers_url":"https://api.github.com/repos/XanderStrike/test/subscribers","subscription_url":"https://api.github.com/repos/XanderStrike/test/subscription","commits_url":"https://api.github.com/repos/XanderStrike/test/commits{/sha}","git_commits_url":"https://api.github.com/repos/XanderStrike/test/git/commits{/sha}","comments_url":"https://api.github.com/repos/XanderStrike/test/comments{/number}","issue_comment_url":"https://api.github.com/repos/XanderStrike/test/issues/comments{/number}","contents_url":"https://api.github.com/repos/XanderStrike/test/contents/{+path}","compare_url":"https://api.github.com/repos/XanderStrike/test/compare/{base}...{head}","merges_url":"https://api.github.com/repos/XanderStrike/test/merges","archive_url":"https://api.github.com/repos/XanderStrike/test/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/XanderStrike/test/downloads","issues_url":"https://api.github.com/repos/XanderStrike/test/issues{/number}","pulls_url":"https://api.github.com/repos/XanderStrike/test/pulls{/number}","milestones_url":"https://api.github.com/repos/XanderStrike/test/milestones{/number}","notifications_url":"https://api.github.com/repos/XanderStrike/test/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/XanderStrike/test/labels{/name}","releases_url":"https://api.github.com/repos/XanderStrike/test/releases{/id}","created_at":"2015-10-09T17:21:12Z","updated_at":"2015-10-09T17:21:12Z","pushed_at":"2015-10-23T21:30:11Z","git_url":"git://github.com/XanderStrike/test.git","ssh_url":"git@github.com:XanderStrike/test.git","clone_url":"https://github.com/XanderStrike/test.git","svn_url":"https://github.com/XanderStrike/test","homepage":null,"size":224,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":2,"forks":0,"open_issues":2,"watchers":0,"default_branch":"master"}},"base":{"label":"XanderStrike:master","ref":"master","sha":"ab9b01cbc2fa0d2ea3c3cbfcfe1643d56284bfb0","user":{"login":"XanderStrike","id":1565303,"avatar_url":"https://avatars.githubusercontent.com/u/1565303?v=3","gravatar_id":"","url":"https://api.github.com/users/XanderStrike","html_url":"https://github.com/XanderStrike","followers_url":"https://api.github.com/users/XanderStrike/followers","following_url":"https://api.github.com/users/XanderStrike/following{/other_user}","gists_url":"https://api.gith[...]
- request:
    method: get
    uri: https://api.github.com/repos/xanderstrike/test/pulls/30/files
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '33'
      X-Ratelimit-Reset:
      - '1445639277'
      Last-Modified:
      - Fri, 23 Oct 2015 20:31:02 GMT
      Etag:
      - W/"61e2f771dd1d3e6c4f6f0e67a13f8901"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","filename":"test4/adsfadfs","status":"added","additions":0,"deletions":0,"changes":0,"blob_url":"https://github.com/XanderStrike/test/blob/e69723d2da9b6a56aaed93a1d4cf1e633ad7de1e/test4/adsfadfs","raw_url":"https://github.com/XanderStrike/test/raw/e69723d2da9b6a56aaed93a1d4cf1e633ad7de1e/test4/adsfadfs","contents_url":"https://api.github.com/repos/XanderStrike/test/contents/test4/adsfadfs?ref=e69723d2da9b6a56aaed93a1d4cf1e633ad7de1e"}]'
  recorded_at: Fri, 23 Oct 2015 21:33:35 GMT
- request:
    method: get
    uri: https://api.github.com/repos/xanderstrike/test/contents/test4/stewards.yml?ref=e69723d2da9b6a56aaed93a1d4cf1e633ad7de1e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '32'
      X-Ratelimit-Reset:
      - '1445639277'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Fri, 23 Oct 2015 21:33:35 GMT
- request:
    method: get
    uri: https://api.github.com/repos/xanderstrike/test/contents/stewards.yml?ref=e69723d2da9b6a56aaed93a1d4cf1e633ad7de1e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '32'
      X-Ratelimit-Reset:
      - '1445639277'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Fri, 23 Oct 2015 21:33:35 GMT
recorded_with: VCR 2.9.3
