---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/XanderStrike/test/issues/11/comments
    body:
      encoding: UTF-8
      string: '{"body":"Hey, sweet pull request you got here!\n\nHere are some stewards
        who might want a look: @xanderstrike @kimboslice. These emails were also notified:
        .\n\nKeep being awesome.\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4966'
      X-Ratelimit-Reset:
      - '1445626871'
      Etag:
      - '"d605af0eef0525037945a8110d9f9a6c"'
      X-Oauth-Scopes:
      - gist, notifications, repo, user, write:org, write:public_key, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/XanderStrike/test/issues/comments/150663362
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/XanderStrike/test/issues/comments/150663362","html_url":"https://github.com/XanderStrike/test/pull/11#issuecomment-150663362","issue_url":"https://api.github.com/repos/XanderStrike/test/issues/11","id":150663362,"user":{"login":"XanderStrike","id":1565303,"avatar_url":"https://avatars.githubusercontent.com/u/1565303?v=3","gravatar_id":"","url":"https://api.github.com/users/XanderStrike","html_url":"https://github.com/XanderStrike","followers_url":"https://api.github.com/users/XanderStrike/followers","following_url":"https://api.github.com/users/XanderStrike/following{/other_user}","gists_url":"https://api.github.com/users/XanderStrike/gists{/gist_id}","starred_url":"https://api.github.com/users/XanderStrike/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/XanderStrike/subscriptions","organizations_url":"https://api.github.com/users/XanderStrike/orgs","repos_url":"https://api.github.com/users/XanderStrike/repos","events_url":"https://api.github.com/users/XanderStrike/events{/privacy}","received_events_url":"https://api.github.com/users/XanderStrike/received_events","type":"User","site_admin":false},"created_at":"2015-10-23T18:57:29Z","updated_at":"2015-10-23T18:57:29Z","body":"Hey,
        sweet pull request you got here!\n\nHere are some stewards who might want
        a look: @xanderstrike @kimboslice. These emails were also notified: .\n\nKeep
        being awesome.\n"}'
  recorded_at: Fri, 23 Oct 2015 18:57:29 GMT
recorded_with: VCR 2.9.3
